USE [master]
GO
/****** Object:  Database [Parking_DB]    Script Date: 5/27/2025 10:03:49 PM ******/
CREATE DATABASE [Parking_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ParkingDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ParkingDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ParkingDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ParkingDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Parking_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Parking_DB]
GO
/****** Object:  Table [dbo].[CarInformation]    Script Date: 5/27/2025 10:03:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarInformation](
	[NumberPlate] [nvarchar](50) NOT NULL,
	[VehicleType] [nvarchar](50) NOT NULL,
	[EntryDate] [datetime2](7) NOT NULL,
	[CarSituation] [nchar](10) NOT NULL,
	[ExitDate] [datetime2](7) NOT NULL,
	[Fee] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK__CarInfor__94853CA1199B76AE] PRIMARY KEY CLUSTERED 
(
	[NumberPlate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GeneralInformation]    Script Date: 5/27/2025 10:03:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeneralInformation](
	[FullName] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](11) NOT NULL,
	[NumberPlate] [nvarchar](50) NOT NULL,
	[VehicleType] [nvarchar](50) NOT NULL,
	[EntryDate] [datetime2](7) NOT NULL,
	[CarSituation] [nchar](10) NOT NULL,
	[ExitDate] [datetime2](7) NULL,
	[Fee] [decimal](18, 0) NULL,
 CONSTRAINT [PK_GeneralInformation] PRIMARY KEY CLUSTERED 
(
	[FullName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OwnerInformation]    Script Date: 5/27/2025 10:03:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OwnerInformation](
	[FullName] [varchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](11) NOT NULL,
 CONSTRAINT [PK__OwnerInf__89C60F1043956D89] PRIMARY KEY CLUSTERED 
(
	[FullName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
